.media-tile {
    background-color: #1d1d1d;
    border: 2px solid black;
    margin-right: 25px;
    margin-bottom: 10px;
    width: 130px;
    height: 200px;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 5px 5px 25px 7px rgba(0, 0, 0, 0.25),
        -5px -5px 25px 7px #00000038, inset 0 0 4px #f5f3f3d0;
    border: 0.5px solid white;
    border-radius: 5px;
}

.media-tile .tile-img-container {
    width: inherit;
    height: inherit;
}

.media-tile .tile-img-container img {
    width: inherit;
    height: inherit;
    object-fit: cover; /*<---Lookup this property-->*/
}

.media-tile .tile-label {
    text-align: center;
    margin-top: -120px;
    height: 40px;
    color: white;
    font-size: 30px;
}

.media-tile:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.22), inset 0 0 10px #f5f3f3d0;
}

.media-tile-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
}
