.app-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

.app-container > * {
    /* Left and right padding for all children */
    padding: 0px 150px 0px 150px;
}

.content {
    padding-bottom: 9.5rem
}
