.social-links-container {
    display: flex;
    flex-direction: row;
}

.social-link-wrapper {
    /* border: 4px solid blue; */
}



.social-link {
    /* border: 2px solid red; */
    width: auto;
    height: 40px;
    padding: 0.5em;
    margin-right: 0.3em;
    cursor: pointer;
}


